.home-header{
    display: flex;
    height: 60px;
    background-color: blue;
    align-items:center;
    justify-content:center;
    color: white;
}

.home-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.home-body div {
    text-align: center;
    width: 200px;
    border: blue solid 1px;
}