.home-header{
    display: flex;
    height: 60px;
    background-color: blue;
    align-items:center;
    justify-content:center;
    color: white;
}

.home-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.home-body div {
    text-align: center;
    width: 200px;
    margin: 10px 0;
}

.edit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    color: #001A45;
    border: 2px solid #001A45;
    border-radius: 500px;
    text-decoration: none;
    background: transparent;
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
}